body {
  padding: 10px;
  margin: 0px;
  border: none;
  background-color: lightblue;
}

h1 {
  margin: 0px;
  padding:0px;
  border: none;
  color: black;
}
img {
  margin: 10px;
  padding: 3px;
  border: solid;
  border-radius: 30px;
  position: absolute;
  top: 0px; left: 400px;
}
h2 {
  color: blue;
}
li {
  margin: 3px;
}
p {
  color: green;
}
